@{
    ViewData["Title"] = "Internal Server Error";
}

<div class="container">
    <h1 class="text-danger">Oops! Something went wrong.</h1>
    <p>An internal server error occurred. We are working on fixing it as soon as possible.</p>
    <p>If you continue to experience problems, please contact our support team.</p>

    <div>
        <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Back to Home</a>
    </div>
</div>
